body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("bg2.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    text-align:center; 
}

p{
    font-family: Arial, Helvetica, sans-serif;
}

ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
}

li.navli {
    float: left;
    
}

    li.navli a {
        display: block;
        border-radius: 15px;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

/* Change the link color to orange(C55A11) on hover */
.active, .navitm:hover {
    background-color: #C55A11;
}
/* portfolio table layout*/

div.container {
    width: 80%;
    padding-left: 10%;
    
}

table {
    border: 1px solid black;
    width: 100%;
    padding-left: 10%;
    
}

th td {
    padding: 5px;
    text-align: center;
    vertical-align: central;
    box-shadow: 5px 5px 2.5px;
}



/*media display column layout*/


div.mediadisplay {
    background-color: #DBDBDB;
    border: ridge 2px;
    margin: auto;
    column-count: 3;
    column-width: 250px;
    column-gap: 25px;
    column-rule: 2px solid black;
    text-align: justify;
    padding: 25px;
    max-width: 90%;
    
    
}

h2.mediah {
    column-span: all;
}

div.mediaVid {
    display: block;
    width: 250px;
    align-content:center;
}

/*Contact Form*/



input[type=text], select, textarea {
    width: 75%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: #C55A11;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

    input[type=submit]:hover {
        background-color: #45a049;
    }

.frmContain {
    border-radius: 5px;
    background-color: #637EA1;
    padding: 20px;
    width: 80%;
    margin: auto;
}

.frm-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.frm-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .frm-25, .frm-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}

