body {
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    text-align:center; 
}

p{
    font-family: Arial, Helvetica, sans-serif;
}

ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
}

li.navli {
    float: left;
}

    li.navli a {
        display: block;
        border-radius: 15px;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

/* Change the link color to orange(C55A11) on hover */
.active, .navitm:hover {
    background-color: #C55A11;
}
/* portfolio table layout*/

div.container{
    width: 80%;
    padding-left: 10%;
}

table{
    border: 1px solid black;
    width: 100%;
    padding-left: 10%;
    
}

th td {
    padding: 5px;
    text-align: center;
    vertical-align: central;
}



/*media display column layout*/

div.mediadisplay {
    background-color: #DBDBDB;
    border: ridge 2px;
    column-count: 3;
    column-width: auto;
    column-gap: 15px;
    column-rule: 2px solid black;
    text-align: justify;
    padding: 10px;
}

h2.mediah {
    column-span: all;
}

div.mediaVid {
    display: block;
    width: 100%;
    align-content:center;
}
